body{
  background-image: url("./Image/fondo.page.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.titulo-centrado{
  text-align: center;
  color: white;
  padding-top: 25%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*pantalla pc*/
@media screen and (min-width: 1025px) {
  .titulo-centrado{
    font-size: 6rem;
  }
}

/*pantalla tablet*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .titulo-centrado {
    font-size: 4rem;
  }
}

/*pantalla telefono*/
@media screen and (max-width: 600px) {
  .titulo-centrado {
    font-size: 2rem;
  }
}
